@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<div style=" display: flex; justify-content: center;align-items: center; height: 100vh;">
    <form method="post" action="/Home/Index" style="text-align: center;">
        <button type="submit">Start</button>
    </form>
</div>