<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.0.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
</packages>