@{
    ViewData["Title"] = "AstroFans";
}

<h1 style="color: white">AstroFans</h1>

<!-- button to run packet receive example-->
<button id="runSampleCode">GANG!</button>

<!-- div to display information from received packet-->
<div id="packetInfo" style="color: white">


</div>

<!-- button press function-->

@{

    
}
