@{
    ViewData["Title"] = "post";
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const messageEle = document.getElementById('content');
        const counterEle = document.getElementById('counter');
        const maxLength = messageEle.getAttribute('maxlength');

        counterEle.innerHTML = '0/' + maxLength;

        messageEle.addEventListener('input', function (e) {
            const target = e.target;
            const currentLength = target.value.length;
            counterEle.innerHTML = currentLength + '/' + maxLength;
        });
    });
</script>

<script type="text/javascript">
    function submission(){

        let good = true;
        if (good == true) {
            //check if empty
            const messageEle = document.getElementById('content')
            const myFileEle = document.getElementById('myFile')
            const counterEle = document.getElementById('counter')
            console.log(messageEle.value);
            console.log(myFileEle.value);
            if ((messageEle.value == 0) && (myFileEle.value == 0)) {
                alert("Cannot send empty field. Please insert text or an image.");
            } 
        }
    }
</script>



<script>
    function Showalert() {
        txtValueA.Text = "one of the basic";
        //alert('Call JavaScript function from codebehind');
    }
</script>



<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>

        .post-container {
            text-align: center;
            padding: 50px;
            margin-top: 50px;
            background-color: white;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        h1 {
            color: #333;
            font-family: 'Arial', sans-serif;
        }

        .post-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4285f4;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .post-button:hover {
            background-color: #347ae3;
        }
    </style>
</head>
<body>
    <div class="post-container">
        <h1>Post</h1>
        <hr></hr>
        <h2>@Model.errorMessage</h2>
        <asp:Literal runat="server" id="txtValueA" EnableViewState="false" />
        <form asp-controller="Home" asp-action="SubmitPost" method="post" enctype="multipart/form-data">
            <textarea id="content" rows="12" cols="60" maxlength="256" name="content" placeholder="Write Here..."></textarea>
            <br></br>
            <input type="file" id="file" name="file">
            <button class="post-button" onclick="Showalert()">Post</button>
            <div id="counter">0</div>
        </form>

    </div>
</body>
</html>


