@* @{
    ViewData["Title"] = "AstroFans";
}

<h1 style="color: white">AstroFans</h1>

<form asp-controller="AstroFans" asp-action="SendMsg" method="post" >
    <label for="inputText">Enter Text:</label>
    <input type="text" id="inputText" name="inputText" required />
    <button type="submit">submit</button>
</form>

<!-- button press function-->


 *@