@{
    ViewData["Title"] = "loginwgoogle";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>

        .login-container {
            text-align: center;
        }

        .login-button {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        h1 {
            color: white;
        }

        /* Style for the login form popup */
        .login-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

            .login-popup label {
                display: block;
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    <style>
        label {
            color: white;
        }
    </style>

    <form asp-controller="Start" asp-action="ExampleAccount" method="post">
        <label for="usernameText">Username:</label>
        <input type="text" id="usernameText" name="username" required />

        <label for="passwordText">Password:</label>
        <input type="text" id="passwordText" name="password" required />

        <button type="submit">Submit</button>
    </form>
</body>
</html>


