@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>We are selling your data for profit.</p>
<p>Thanks for using AstroHub.</p>
