@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="@Url.Action("Index", "Home")">
    <button type="submit">Run</button>
</form>