@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style=" display: flex; justify-content: center;align-items: center; height: 100vh;">
    <form method="post" action="/Home/Index" style="text-align: center;">
        <button type="submit">Run</button>
    </form>
</div>
